# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class


# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

.history/
.gitignore
.virtual_documents/
Data_Fitting/Trape/trape?
Data_Fitting/Goncalves/goncalves1
Notebooks/Unpublished_data/
*.hpp
WorldPop/*.tif
WorldPop/*.xml
Paper/
TODO.md
Bokeh_server/